body {
  background-color: #4E0660;
}
@-webkit-keyframes dropHeader {
  0% {
    -webkit-transform: translateY(-200px);
    opacity: 0;
  }
  20% {
    -moz-transform: translateY(-80px);
    opacity: 0;
  }
  40% {
    -moz-transform: translateY(-50px);
    opacity: 0;
  }
  60% {
    -moz-transform: translateY(-30px);
    opacity: 0;
  }
  80% {
    -moz-transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropHeader {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  20% {
    -moz-transform: translateY(-80px);
    opacity: 0;
  }
  40% {
    -moz-transform: translateY(-50px);
    opacity: 0;
  }
  60% {
    -moz-transform: translateY(-30px);
    opacity: 0;
  }
  80% {
    -moz-transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.logoimg {
  max-width: 200px;
}
.logo {
  margin-top: 60px;
}
@media (min-width: 320px) {
  .logo .homelogo {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .logo .homelogo {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .logo .homelogo {
    width: 400px;
  }
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
.logo,
.login {
  -webkit-animation: dropHeader 1500ms ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation: dropHeader 1500ms ease-in-out;
  animation-iteration-count: 1;
}
.login {
  margin-top: 20px;
}
.login a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding-left: 10px;
}
.login a:hover {
  text-decoration: none;
  color: #C6EB21;
  -webkit-animation: move-y 500ms;
  animation: move-y 500ms;
}
@-webkit-keyframes move-y {
  /*0% {
			transform:translateY(-100%);
		}
		5% {
			transform:translateY(-100%);
		}
		15% {
			transform:translateY(0);
			padding-bottom: 5px;
		}
		30% {
			transform:translateY(-50%);
		}
		40% {
			transform:translateY(0%);
			padding-bottom: 6px;
		}
		50% {
			transform:translateY(-40%);
		}
		70% {
			transform:translateY(0%);
			padding-bottom: 7px;
		}*/
  80% {
    transform: translateY(-30%);
  }
  90% {
    transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform: translateY(-20%);
  }
  97% {
    transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
  }
}
@keyframes move-y {
  /*0% {
			transform:translateY(-100%);
		}
		5% {
			transform:translateY(-100%);
		}
		15% {
			transform:translateY(0);
			padding-bottom: 5px;
		}
		30% {
			transform:translateY(-50%);
		}
		40% {
			transform:translateY(0%);
			padding-bottom: 6px;
		}
		50% {
			transform:translateY(-40%);
		}
		70% {
			transform:translateY(0%);
			padding-bottom: 7px;
		}*/
  80% {
    transform: translateY(-30%);
  }
  90% {
    transform: translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform: translateY(-20%);
  }
  97% {
    transform: translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
  }
}
@keyframes dropnav {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
    display: none;
  }
  30% {
    transform: translateX(-800px);
    opacity: 0;
  }
  55% {
    transform: translateX(-600px);
    opacity: 0;
  }
  85% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.navbar {
  margin-top: 20px;
}
.navbar-default {
  background: none;
  border: none;
  -webkit-animation: dropnav 1500ms ease-in 100ms 1;
  animation: dropnav 1500ms ease-in 100ms 1;
}
.navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #C6EB21;
  -webkit-animation: move-y 500ms;
  animation: move-y 500ms;
}
@-webkit-keyframes dropcontent {
  0% {
    -webkit-transform: translateY(1000px);
    opacity: 0;
    display: none;
  }
  30% {
    transform: translateY(800px);
    opacity: 0;
  }
  55% {
    transform: translateY(600px);
    opacity: 0;
  }
  85% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dropcontent {
  0% {
    transform: translateY(1000px);
    opacity: 0;
    display: none;
  }
  30% {
    transform: translateY(800px);
    opacity: 0;
  }
  55% {
    transform: translateY(600px);
    opacity: 0;
  }
  85% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.homeservice {
  text-align: center;
  padding: 20px 0px 50px 0px;
}
.homeservice .service {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  height: 186px;
  transition: all 300ms linear;
}
@media (min-width: 320px) {
  .homeservice .service {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .homeservice .service {
    width: 150px;
  }
}
@media (min-width: 1200px) {
  .homeservice .service {
    width: 186px;
  }
}
.homeservice .service .heading,
.homeservice .service h3 {
  color: #fff;
}
.homeservice .service h3 {
  height: 80px;
  font-weight: bold;
}
.homeservice .service h3:hover {
  -webkit-animation: smallToBig 300ms ease;
}
.homeservice .service .description {
  height: 70px;
  width: 170px;
  top: 60px;
  position: absolute;
  left: 50%;
  margin-left: -85px;
}
.homeservice .service .description,
.homeservice .service .read {
  opacity: 0;
  transition: all 400ms linear;
  font-size: 10px;
  color: #fff;
}
.homeservice .service .read {
  margin-top: 10px;
}
.homeservice .service:hover {
  z-index: 200;
  transform: scale(1.29);
  border: 5px solid #fff;
}
.homeservice .service:hover .heading {
  display: none;
  opacity: 0;
}
.homeservice .service:hover .description,
.homeservice .service:hover .read {
  opacity: 1.9;
}
.homeservice .service1 {
  background-color: #0E9E04;
}
.homeservice .service2 {
  background-color: #366FC5;
}
.homeservice .service3 {
  background-color: #CD7F32;
}
.homeservice .service4 {
  background-color: #FA10A0;
}
.homeservice .service5 {
  background-color: #BA0419;
}
.homeservice,
.content {
  -webkit-animation: dropcontent 2500ms ease-in 200ms 1;
  animation: dropcontent 2500ms ease-in 200ms 1;
}
.content {
  background-color: #E9E9E9;
  border: 20px solid #D2A61D;
  box-shadow: 6px 2px 0px #000;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  height: 500px;
}
.content .info {
  padding: 10px 20px;
  height: 370px;
  overflow: auto;
}
.content .info p {
  text-align: justify;
}
.content .port {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  height: 350px;
}
.content .port img {
  height: 348px;
  width: 100%;
  padding: 5px;
}
.content .portfolio {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  height: 100px;
  width: 49%;
  display: inline-block;
  margin-bottom: 4px;
}
.content .portfolio img {
  height: 100px;
  width: 100%;
  padding: 5px;
}
.content .carousel-control {
  top: 260px;
}
.content .carousel-inner {
  height: 300px;
}
.content .media-left img {
  height: 150px;
  max-width: 200px;
}
h4,
h2 {
  color: #C50606;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #DDD8D8;
  padding: 20px;
}
.btn-info,
.btn-link {
  color: #fff;
  background-color: #323232;
  border: none;
  margin-top: 18px;
  border-radius: 15px;
  padding: 5px 25px;
}
ul {
  padding-left: 15px;
}
#googleMap {
  height: 86%;
  position: absolute !important;
  z-index: 0;
  width: 100%;
}
.addrs {
  position: absolute;
  z-index: 99;
  border-radius: 140px;
  border: 5px solid #ccc;
  margin-top: 50px;
  background-color: #fff;
  margin-left: 10px;
  padding: 10px 40px;
  transition: all 300ms linear;
}
.addrs h4 {
  transition: all 300ms linear;
}
.addrs:hover {
  background-color: #e1f0fa;
  border: 5px solid #385F79;
}
.addrs:hover h4 {
  opacity: 1;
  color: #2676ac;
  -webkit-animation: moveFromTop 300ms ease-in-out;
}
.contact {
  position: absolute;
  z-index: 99;
  right: 1px;
  height: 86%;
  overflow: auto;
}
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.apnasite {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #DDD8D8;
  transition: all 300ms linear;
}
.apnasite .heading,
.apnasite .description {
  transition: all 300ms linear;
}
.apnasite:hover {
  background-color: #4E0660;
}
.apnasite:hover .heading {
  opacity: 1;
  color: #fff;
  font-size: 25px;
  -webkit-animation: moveFromTop 300ms ease-in-out;
}
.apnasite:hover .description {
  opacity: 1;
  color: #fff;
}
@media (min-width: 320px) {
  .apnalogo {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .apnalogo {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .apnalogo {
    width: 250px;
  }
}
@keyframes myfirst {
  0% {
    color: black;
    left: -100px;
    top: 0px;
  }
  25% {
    color: purple;
    left: 0px;
    top: 0px;
  }
  50% {
    color: blue;
    left: 50px;
    top: 0px;
  }
  75% {
    color: green;
    left: 100px;
    top: 0px;
  }
  100% {
    color: red;
    left: 200px;
    top: 0px;
  }
}
.packages .thumbnail {
  height: 720px;
  background-color: #D5D5D5;
  border: 10px solid #8B8A89;
}
.packages .thumbnail p {
  animation: myfirst 5s infinite;
  animation-direction: initial;
  text-align: center;
}
.packages .thumbnail h3 {
  display: block;
  width: 250px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  left: -20px;
  top: 8px;
  color: #FFFDFD;
  text-shadow: 0 1px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: linear-gradient(top, #383838 0%, #262626 100%);
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.packages .thumbnail h3::before,
.packages .thumbnail h3::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  border: 5px solid;
  border-color: #242424 transparent transparent transparent;
}
.packages .thumbnail h3::before {
  left: 0;
}
.packages .thumbnail h3::after {
  right: 0;
}
.thumbnail.bronz h3 {
  background-color: #CD7F32;
}
.thumbnail.silver h3 {
  background-color: #366FC5;
}
.thumbnail.gold h3 {
  background-color: #E5A707;
}
.thumbnail.diamond h3 {
  background-color: #BA0419;
}
footer {
  margin: 15px 0px;
  text-align: center;
  padding: 8px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #C6EB21;
}
