*{
 padding:0px;
  margin:0px;
  }
 
body
 {
    background: url(../img/Web-Touch-India-Solutions-Pune-BG-1.jpg);
}

nav ul li
 {
  padding:0px 14px;
  }
 
.navigation .nav > li {
position: relative;
line-height: normal;
display: inline-block;
}

.nav > li > a {
display: block;
}

.nav-pills > li > a 
{
position:relative;
padding: 20px 10px;
}
ul
{
margin-left: 19px;
}
.navbar
{
margin-bottom:0px;
}
a
 {
color: #0088cc;
}

.nav-tabs > li > a, .nav-pills > li > a
{
line-height:33px;

}


.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > li > a:hover 
{
border-bottom: 3px solid #0088cc;
padding: 0 10px 35px;
}

.nav-pills > .active > a:after, .nav-pills > .active > a:hover:after, .nav-pills > li > a:hover:after 
{
content: "";
display:inline-block;
width: 28px;
height: 25px;
position: absolute;
background: url(../img/right-icon.png);
background-size: 100% 100%;
bottom: 10px;
left: 0px;
right: 0px;
margin: 0 auto;
}
.nav>li>a:hover, .nav>li>a:focus
{
background:none;
}

header
{
 margin-top: 65px;
}

#logo img
 { 
  padding-top: 30px;
 }

   
 #logo h1
{
 color:#fff;
 font-size: 40px;
font-weight: bold;
 } 
 
 address
 {
 margin-bottom:0px;
 padding-top: 70px;
 font-size:20px;
 }
 
ul li
{
  padding:0px 10px;
  }

  footer
  {
   height:70px;
   font-size:20px;
   }
   
footer p
{
margin-bottom: 0px;
padding: 5px;
}

